<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
        <title>archive</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="/img/icon.png"/>
		<link rel="stylesheet" href="/css/typo.css"/>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<% include sidebar.html %>
		<div class="container">
            <div class="archive">
                <section class="timeSection">
                    <div class="timeSection-list">
                        <% for(var i=0; i<articles.length; i++){%>
                            <h2><a href="/article?id=<%=articles[i]._id%>"><%= articles[i].title %></a></h2>
                            <div class="meta-list"> 
                                <time> <%= moment(articles[i].date).format('YYYY-MM-DD') %>  | </time>
                                <ul>
                                    <% for(var j=0; j<articles[i].tags.length; j++){ %>
                                        <li class="meta-text"> { <a href="/tags?q=<%= articles[i].tags[j]._id %>"> <%=articles[i].tags[j].name %></a> } </li>
                                    <% } %>
                                </ul>
                            </div>
                        <% } %>
                    </div>
                </section>
            </div>
			<footer> <small>Copyright © 2018 NewCaptain</small></footer>
			
		</div>

	</body>
</html>
