<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>article</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="icon" href="/img/icon.png"/>
		<link rel="stylesheet" href="/css/typo.css"/>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body >
		<% include sidebar.html %>
		<div class="container">
			<header class="contain-head">
                <h2><%= article.title %></h2>
			</header>
			<header class="title">
					<div class="meta-list"> 
						<time><%= moment(article.date).format('YYYY-MM-DD HH:mm')%> | </time>
							views: <%= article.views %> |
						<ul>
							<li class="meta-text">
								<% for(var i=0;i<article.tags.length; i++){%>
								{ <a href="/tags?q=<%=article.tags[i]._id %>"> <%=article.tags[i].name %> </a> } 
								<% } %>
							</li>
						</ul>
					</div>
				</header>
			<article class=" typo" id="articlecontent"><%= article.content %>
			</article>
			<footer> <small>Copyright © 2018 NewCaptain</small></footer>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script> 
		<script>
			document.getElementById('articlecontent').innerHTML=marked(document.getElementById('articlecontent').innerHTML);
		</script> 
	</body>
</html>
